@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
}

.elipse-6 {
  height: 1182px;
  width: 1215px;
  left: -347px;
  top: -479px;
  border-radius: 50%;
  position: absolute;
  left: -22.95%;
  right: 42.59%;
  top: -48.78%;
  bottom: 28.41%;

  background: rgba(255, 255, 255, 0.8);  
  filter: blur(600px);
  z-index: -2;


}

.elipse-8 {
  background: rgb(94, 209, 196);
  height: 1868px;
  width: 1923px;
  left: -273px;
  top: -81px;
  border-radius: 50%;
  position: absolute;
  left: -18.06%;
  right: -9.13%;
  top: -8.25%;
  bottom: -81.98%;
  filter: blur(250px);
  z-index: -5;
}
.elipse-10 {
  height: 1248px;
  width: 1286px;
  left: 414px;
  top: -391px;
  border-radius: 50%;
  position: absolute;
  left: 27.38%;
  right: -12.43%;
  top: -39.82%;
  bottom: 12.73%;
  background: #EEF1EC;
  filter: blur(250px);
  z-index: -4;
}
.elipse-11 {
  height: 1094px;
  width: 1128px;
  left: -82px;
  top: 579px;
  border-radius: 50%;
  position: absolute;
  left: -5.42%;
  right: 30.82%;
  top: 58.96%;
  bottom: -70.37%;

  background: #CCE0DE;
  filter: blur(250px);
  z-index: -3;

}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
